body{
    margin: 0px;
}

header{
    background-color:  rgb(98, 135, 246);
    height: 80px;
}

main{
    padding: 30px;
    text-align: center;
}

aside{
    background-color: lightcoral;
    width: 400px;
    height: 500px; 
    display: inline-block;
}

section{
    background-color: rgb(178, 132, 32);
    height: 500px;
    width: 900px;
    display: inline-block;
    margin-left: 15px;
}

footer {
    height: 200px;
    background-color: lightgrey
}

